<main>
    {% include('partial/header.html.twig') %}
    <h1>Hello</h1>


    <main>

        <h2>Les différentes piscines</h2>
        <button class="buttonArticle"><a href="http://localhost:8888/piscine_blog/public/add-article">Add new article</a></button>


        <section class="my_articles">

            {% for article in articles %}

            <article class="articles">
                <h3>{{article.title}}</h3>
                <!-- <p><?php echo $article['content'] ?></p> -->
                <p><?php echo $article['created_at']?></p>
                <a href="http://localhost:8888/piscine_blog/public/show-article?id={{article.id}}">Voir l'article</a> <br>
                <a href="http://localhost:8888/piscine_blog/public/delete-article?id={{article.id}}" > Supprimer l'article</a>
            </article>

            {% endfor %}

        </section>

        {% include('partial/footer.html.twig') %}

    </main>
</main>