<html>
        <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Playwrite+HR:wght@100..400&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="../public/assets/style.css">

        </head>

        <header class="firstHeader">
                        <h1>Le super blog de la piscine</h1>
                <div class="logo">
                    <a href="http://localhost:8888/piscine_blog/public/"><img src="../public/assets/img/water-ladder-solid.svg" alt=""></a>
                </div>

        <nav class="nav_header">
                <ul>
                    <li>Menu</li>
                    <li>Menu</li>
                    <li>Menu</li>
                    <li>Menu</li>
                    <li>Menu</li>
                </ul>
            </nav>
        </header>

